.brand {


    display:flex;

    align-items:center;

    gap:14px;


    text-decoration:none;


    color:var(--dark-green);


    font-size:24px;


    font-weight:700;


    letter-spacing:-0.5px;


}



.logoWrapper {


    width:48px;

    height:48px;


    display:flex;

    justify-content:center;

    align-items:center;


    border-radius:16px;


    background:rgba(82,183,136,.15);


    backdrop-filter:blur(15px);


    overflow:hidden;


}




.logoWrapper img {


    width:36px;

    height:36px;


}



.brand:hover {


    transform:translateY(-1px);


}



.brand {


    transition:.3s ease;


}