.card {

    width:260px;

    border-radius:22px;

    overflow:hidden;

    position:relative;


    background:

    rgba(255,255,255,.75);


    border:

    1px solid rgba(255,255,255,.8);


    box-shadow:

    0 15px 35px rgba(33,77,58,.10);


    transition:

    transform .45s cubic-bezier(.2,.8,.2,1),
    box-shadow .45s ease,
    border-color .3s ease;


    cursor:pointer;

}





.card:hover {


    transform:

    translateY(-15px)
    rotate(-1deg);


    box-shadow:


    0 35px 80px rgba(33,77,58,.22);


    border-color:


    rgba(82,183,136,.6);

}





/* IMAGE */


.image,
.noImage {


    width:100%;

    height:200px;

    object-fit:cover;

}





.image {


    display:block;

}






.noImage {


    display:flex;

    align-items:center;

    justify-content:center;


    background:


    linear-gradient(

        135deg,

        #d8f3dc,

        #b7e4c7

    );


    color:

    var(--dark-green);


    font-size:38px;


    font-weight:600;

}






/* INFO */


.info {


    padding:22px;


    transition:.35s ease;

}




.card:hover .info {


    transform:

    translateY(-5px);

}






.info h3 {


    color:

    var(--dark-green);


    font-size:21px;


    margin:0 0 8px;


    transition:.3s ease;


}





.card:hover h3 {


    color:

    var(--primary-green);


}







.scientific {


    color:#6b7280;


    font-style:italic;


    font-size:14px;


    margin:0;

}








/* BUTTON AREA */


.actions {


    margin-top:22px;


    display:flex;


    flex-direction:column;


    gap:12px;

}





.detailsButton,
.addButton,
.savedButton {


    width:100%;


    padding:12px;


    border-radius:14px;


    font-size:14px;


    font-weight:600;


    text-align:center;


    transition:.3s ease;


    cursor:pointer;


}





/* DETAILS */


.detailsButton {


    background:

    rgba(82,183,136,.15);


    color:

    var(--dark-green);


    text-decoration:none;

}




.detailsButton:hover {


    background:

    rgba(82,183,136,.3);


    transform:

    translateY(-3px);

}








/* ADD */


.addButton {


    border:none;


    background:

    var(--primary-green);


    color:white;

}





.addButton:hover {


    background:

    var(--dark-green);


    transform:

    translateY(-4px);


    box-shadow:


    0 12px 25px rgba(82,183,136,.35);

}







/* SAVED */


.savedButton {


    border:none;


    background:

    #b7e4c7;


    color:

    var(--dark-green);

}





.savedButton:hover {


    background:

    #95d5b2;


    transform:

    translateY(-3px);

}







/* subtle floating feeling */


.card::after {


    content:"";


    position:absolute;


    width:120px;


    height:120px;


    border-radius:50%;


    background:

    rgba(149,213,178,.25);


    filter:blur(35px);


    right:-40px;


    top:-40px;


    opacity:0;


    transition:.4s ease;


    pointer-events:none;

}




.card:hover::after {


    opacity:1;

}